.price-list {
    padding-top: 66px;

    &__title {
        text-align: center;
        position: relative;
        @include before_circle;

        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 341px 341px;
    }
    &__item {
        display: grid;
        grid-template-columns: minmax(185px, 1fr) 1fr;
        &-title {
            position: relative;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            @include before_circle;
            &:before {
                width: 15px;
                height: 15px;
                top: 2px;
                left: -26px;
            }
        }
        &-price {
            text-align: right;
            margin-bottom: 8px;
        }
        &-text {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 15px;
        }
    }
}