@mixin before_circle {
    &:before {
        top: -25%;
        left: 0;
        z-index: -1;
        position: absolute;
        border-radius: 100%;
        content: "";
        width: 36px;
        height: 36px;
        background: #FFA501;
    }
}